body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;
    background-color: #e5e5e5;

}

/*container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("../images/intro.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro_title {
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro_title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #fff;
}

.intro_suptitle {
    margin-bottom: 15px;

    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;

}


/*Header*/
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*header_logo*/
.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/*NAV*/
.nav {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .2s linear;
}
.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    
    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav_link:hover {
    color: #fce38a;
}

.nav_link:hover:after, 
.nav_link.active:after {
    opacity: 1;
}
.nav_link.active {
    color: #fce38a;
}

/*Button*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;

    border: 3px solid #fff;


    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .3s
    linear, color .3s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}
/*Slider*/
.slider {
    width: 100%;
    
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider_inner {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.slider_item {
    width: 23%;
    padding: 20px 0;
    position: relative;
    
    border-top: 3px solid #fff;
    opacity: .7;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.slider_item.active {
    opacity: 1;
}

.slider_item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}
/*slider_num*/
.slider_num {
    font-size: 24px;
    font-weight: 700;
}
/**/
/**/
/**/
/**/

/*section*/
.section {
    padding: 80px 0;
}

.section--devices {
    margin-bottom: 40px;
    padding-bottom: 0;

    background:
    url("../images/device_bg.png")
    center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}
.section_suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}
.section_title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}
.section_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #f38181;
}
.section_text {
    font-size: 15px;
    color: #999;
}

/**/
/**/

/* About */

.about {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.about_item {
    width: auto;
    position: relative;

    background-color: #98d29f;
}
.about_item:hover .about_img {
    transform: translate3d(-10px, -10px, 0);
}
.about_item:hover .about_img img {
    opacity: .2;
}

.about_item:hover .about_text {
    opacity: 1;
}

.about_img {
    background: linear-gradient(to bottom, #f38181, #fce38a);

    transition: transform .2s linear;
}
.about_img img {
    width: 100%;
    display: block;
    transition: opacity .1s linear;
}
.about_text {
    width: 100%;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

/* statistics */
.statistics {
    background-color: #000000 ;
}
.stat {
    display: flex;
}
.stat_item {
    flex: 1 1 0;
    padding: 70px 25px;
    
    border-left: 1px solid #b5eae0;

    text-align: center;
    color: #fff;
}
.stat_item:last-child {
    border-right: 1px solid #b5eae0;
}
.stat_count {
    margin-bottom: 10px;

    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}
.stat_text {
    font-size: 14px;
    text-transform: uppercase;
}

/*services*/
.services {
    display: flex;
}

.services_item {
    flex: 1 1 0;
    padding-left: 90px;
    padding-right: 35px;
    position: relative;
}
.services_icon {
    position: absolute;
    top: 0%;
    left: 28px;
    z-index: 1;
}
.services_title {
margin-bottom: 10px;

    font-style: 14px;
    color: #333;
    text-transform: uppercase;
}
.services_text {
    font-size: 15px;
    color: #333;
}

/* Devices */
.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.devices_item {
    display: block;
}

.devices_item--iphone {
    position: absolute;
    bottom: -80px;
    right: 0px;
    z-index: 1;
}

/**/
